image: docker:26.1.4

services:
  - docker:26.1.4-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

stages:
  - build
  - deploy

build-images:
  stage: build
  tags:
    - docker
    - personal
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker build -t "$CI_REGISTRY_IMAGE/bot:latest" -t "$CI_REGISTRY_IMAGE/bot:$CI_COMMIT_TAG" ./bot
    - docker push "$CI_REGISTRY_IMAGE/bot:latest"
    - docker push "$CI_REGISTRY_IMAGE/bot:$CI_COMMIT_TAG"
  rules:
    - if: $CI_COMMIT_TAG

deploy-services:
  stage: deploy
  tags:
    - docker
    - personal
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"
    - docker service update --with-registry-auth --image "$CI_REGISTRY_IMAGE/bot:$CI_COMMIT_TAG" lewhisperrr_bot
  rules:
    - if: $CI_COMMIT_TAG
